body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    font-size: 36px;
    color: red;
    margin-top: 50px;
}
.hoje{
    margin: auto;
    border-collapse: collapse;
    font-size: 18px;
    font-weight: bold;
    background-color: #F5F5F5;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 3px 3px 10px red;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
}
tr:nth-child(even) {
    background-color: #D9E1F2;
}
caption {
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}

