.question-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    border: 1px solid #ccc;
  

  }
  
  .question-form h2 {
    margin-top: 0;
  }
  header {
		background-color: #222;
		color: #fff;
		padding: 10px;
		text-align: center;
	}
	
	h1 {
		margin: 0;
		font-size: 36px;
		line-height: 44px;
	}
	
	main {
		max-width: 800px;
		margin: 20px auto;
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}
	
	article {
		margin-bottom: 20px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
	
	h2 {
		font-size: 24px;
		margin-bottom: 10px;
	}
	
	p {
		font-size: 18px;
		line-height: 24px;
	}
	
	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 10px;
	}

 .main-content{
    text-align: center;
  }

 

.jogadores{
	position: relative;
	display: flex;
	width: 800px;
	height: 300px;
	border: 2px solid black;
}

.jogadores .hover_players{
	position: absolute;
	width: 100%;
	height: 100%;
}


.jogadores .hover_players a{
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 25%;
	height: 100%;
	text-decoration: none;
	color: black;
	font-weight: 900;
	transition: 2s;
	
	
}

.jogadores .hover_players a:hover{
	opacity: 1;
	
}

#gol2{
	left: 25%;
}

#gol3{
	left: 50%;
}

#gol4{
	left: 75%;
}

.jogadores .img_box{
	width: 100%;
	height: 100%;
}
.jogadores .img_box img{
	width: 100%;
	height: 100%;
}
.atleta{
	background-color: white;

	
}
