body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }


  h2 {
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
    color: white;
  }




.number {
    font-size: 35px;
    font-weight: 300;
    color: red;
    background-color: white;
}

h1{
  background-color: white;
}
