.pontos{
    width: 300px;
    background-color: black;
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50px;
    background: linear-gradient(180deg, red
     0%, rgba(214, 214, 214, 0.9) 100%);
}

main{
    background-image: url(../assets/R.jpg);
}