body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: white;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  h1 {
    margin-top: 3;
    text-align: center;
    color: white;
    font-size: 1;
  }

  table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }
  h2 {
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
    color: white;
  }
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 30px auto;
    backdrop-filter: blur(100px);
  }
  th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    color: white;
    font-size: 1;
  }
  th {
    background-color: red;
    color: #fff;
  }

  main{
    background-image: url(../img/morumbi2.jpg);
   
  }
