body {
    margin: 0;
    padding: 0;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header {
    border-bottom: 3px solid #ffffffb0;
}

.header .container {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: black;
    font-style: oblique;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: black;
}


.titulo {
    color: black;
    width: fit-content;
    font-weight: 400;
}


/* BANNER */

.banner {
    height: fit-content;
    color: white;
    box-shadow: 0 1px 10px 13px black;
   
}

.container1 {
    position: absolute;
    display: flex;
    left: 100px;
    top: 150px;
}

.txt1 {
    font-style: italic;
    display: flex;
    justify-content: flex-start;

}

.container2 {
    position: absolute;
    display: flex;
    left: 500px;
    top: 300px;

}

.txt2 {

    font-style: italic;
    display: flex;
    justify-content: flex-start;

}

.container3 {
    position: absolute;
    display: flex;
    left: 980px;
    top: 450px;
}

.txt3 {

    font-style: italic;
    display: flex;
    justify-content: flex-start;

}



.banner p {
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}

.pred {
    height: 200px;

}

.pred1 {
    padding: 5%;
    height: 80px;
    font-size: 40px;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d1 {
    height: fit-content;
    background-image: url("../img/morumbi.jpg");
    background-size: cover;
    box-shadow: 0 1px 10px 13px red;
    height: 600px;
    
}

.d1d1 {
    width: 450px;
    margin-left: 800px;
    font-style: italic;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff81;
    border-radius: 30px;
    padding-left: 10px;
    
}

.d1d2 {
    width: 300px;
    margin-left: 10%;
    font-style: italic;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff81;
    border-radius: 30px;
    padding-left: 10px;
}

.d1d3 {
    width: 450px;
    margin-left: 800px;
    font-style: italic;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff81;
    border-radius: 30px;
    padding-left: 10px;
}

.d1d4 {
    width: 300px;
    margin-left: 10%;
    font-style: italic;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff81;
    border-radius: 10px;
    padding-left: 10px;
}

/* missao visao valores */
.boxes {

    display: flex;
    flex-direction: column;
}

.social {
    background-color: white;
    display: flex;
}

.social .container {
    justify-content: center;
}

.box img {
    width: 230px;
    height: 230px;
}

.social .container .boxes {
    display: flex;
}

.social p {
    text-align: center;
}

.box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}


.box {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* FOOTER */

.footer {
    background-color: red;
    height: 125px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
    text-align: center;
}

.footer .container .version {
    font-size: 12px;
}
